body{
    font-family: 'Avenir Next Cyr Regular';
}

@media only screen and (max-width: 768px){
    .dashboard.product_card:last-child{
        margin-top: 25px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        height: 169px;
    }
    .dashboard-page .custom-card:not(:first-child){
        text-align: center;
    }
    .dashboard-page .rounded-icon{
        display: inline-block;
        margin: 0 auto;
    }
}
#searchProduct{
    border: 0.5px solid black;
}

.dashboard-page .custom-card{
    background: #F2F2F2;
}
.dashboard-page .custom-card:first-child p.description{
    font-family: 'Avenir Next Cyr Thin';
}
.dashboard-page .custom-card:first-child p{
    font-family: 'Avenir Next Cyr Regular';
    font-style: normal;
    font-weight: normal;
}
.dashboard-page .custom-card:first-child i{
    color: #2F80ED;
    font-size: 35px;
}
.dashboard-page .custom-card:first-child a:last-child{
    color: #2F80ED;
}
.dashboard-page .custom-card:first-child h5:first-child{
    color: #000000;
    font-size: 24px;
    font-weight: 750;
    font-family: 'Avenir Next Cyr Bold';
}
.dashboard-page .custom-card:first-child .profile-photo{
    width: 110px;
    height: 110px;
}
.dashboard-page .custom-card h6{
    font-size: 12px;
    font-family: 'Avenir Next Cyr Regular';
    line-height: 15px;
    font-style: normal;
    font-weight: normal;
}
.dashboard-page .custom-card span{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.dashboard-page .custom-card span p{
    color: #219653;
    font-weight: normal;
    font-size: 14px;
}
.dashboard-page .col-md-4.mb-12{
    border-left: 1px solid #E0E0E0;
    padding-left: 37px;
}
.rounded-icon.cart{
    background-color: #6FCF97;
}
.rounded-icon.dollar{
    background-color: #F2C94C;
}
.rounded-icon.box{
    background-color: #56CCF2;
}
.rounded-icon{
    width: 58px;
    height: 58px;
}
.rounded-icon i{
    top: calc(50% - 10px);
    position:relative;
}
.add_product_block i{
    top: calc(50% - 30px);
    position: relative;
    color: black;
}
.popular_orders strong, .dashboard.product_card p{
    font-family: "Avenir Next Cyr Bold";
    font-style: normal;
    font-weight: 750;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.popular_orders table img{
    width: 50px;
    height: 50px;
}
.link-blue{
    color: #56CCF2;
}
.popular_orders .custom-green{
    color: #219653;
}
.popular_orders table th,.popular_orders table td:nth-child(3),.dashboard.product_card span{
    color: #828282;
}

.popular_orders table span{
    font-size: 12px;
    color: #BDBDBD;
}
.dashboard-page .cart-table .table thead th, .wishlist-table .table thead th{
    border-bottom: 0 !important;
}
.dashboard-page .cart-table .table th, .cart-table .table td, .wishlist-table .table th, .wishlist-table .table td{
    padding-left: 0.4rem;
    padding-bottom: 0;
}
.dashboard-page .cart-table .table tbody tr:first-child td, .wishlist-table .table tbody tr:first-child td{
    padding-top: 15px;
}
.dashboard-page .cart-table .table tbody tr td, .wishlist-table .table tbody tr td {
    padding: 7px;
    padding-top: 15px;
}
.dashboard-page .filter-option-inner-inner i {
    margin-right: 10px;
}
.popular_orders table p{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
}
.dashboard.product_card{
    border: 1px dashed #E0E0E0;
    border-radius: 9px;
}
.dashboard.product_card h5 a{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.dashboard.product_card i:last-child{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.custom-card{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 20px 0 ;
    background: #fefefe;
}

.custom-card p {
    color: #333e48 !important;
    margin-bottom: 10px;
    border-bottom: 1px solid #ededed;
    padding: 0 20px;
    padding-bottom: 10px;
}

.custom-card p:last-child {
    border-bottom: none;
}

.statistic-page table, .statistic-page tr th{
    border: 1px solid #eaeaea;
}

.bg-primary .vertical-navBar .list-group{
    border-bottom: 0;
}
.list-group-item{
    background-color: inherit;
}
.active-navbar{
    border-bottom: 6px solid white !important;
    border-radius: 0 !important;
    color: white;
}
.dashboard-area{
    display: none !important;
}
.vertical-navBar .list-group{
    flex-direction: inherit;
    border-bottom: 1px solid black;
}

.vertical-navBar .list-group a{
    border: none;
}

.custom-button{
    border: 1px solid  gray;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.product-page hr{
    border-top-color: #BDBDBD !important;
}
.product-card{
    border: 1px solid #7FD9CF;
}
.product-card h5{
    padding: 10px;
    background-color: #7FD9CF;
    font-family: 'Avenir Next Cyr Regular';
    font-weight: 700;
    font-size: 18px;
}
.product-form-control{
    background: #F2F2F2;
    padding: 15px 20px;
    border: none !important;
    -webkit-appearance: none;
    width: 100%;
}
.form-group.select::before{
    content: '';
    background: url('../img/products_arrow_down.png');
    float: right;
    width: 14px;
    height: 8px;
    right: 45px;
    top: 38px;
    position: absolute;
    margin-top: -3px;
}
.product-card input[type="checkbox"], .product-card input[type="radio"]{
    position: relative;
    display: inline-block;
    height: 35px;
    width: 35px;
    background: var(--color);
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    margin-right: 7px;
    border: 1px solid #ededed;
}
.product-card input[type="checkbox"]:after, .product-card input[type="radio"]:after {
    content: var(--name);
    font-size: 13px;
    text-align: center;
    color: #828282;
    position: absolute;
    margin: auto auto;
    left: 0; right: 0; bottom: 0; top: 0;
    display: block;
    height: 17px;
    width: 30px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.product-card input[type="checkbox"]:checked, .product-card input[type="radio"]:checked {
    background: var(--background);
    border: 2px solid #4F4F4F !important;
  }
.product-card input[type="checkbox"]:checked:after, .product-card input[type="radio"]:checked:after {
    color: #E0E0E0;
  }

.product-card input[type="checkbox"]:hover, .product-card input[type="radio"]:hover {
    border: 1px solid #4F4F4F;
}
.delete_product_btn i{
    font-size: 25px;
    color: black;
}
.add_product_price_btn{
    border: none;
    background: transparent;
    color: #2F80ED;
}
.add_product_price_btn i {
    margin-right: 12px;
    font-size: 16px;
}
.product-image-fileuploader .fileuploader{
    background: #F2F2F2 !important;
}
.product-save-btn{
    width: 197px;
    height: 52px;
    border-radius: 0;
    font-family:'Avenir Next Cyr Regular';
    font-weight: 400;
    font-size: 18px;
}
.fileuploader-theme-gallery .fileuploader-input, .fileuploader-theme-gallery .fileuploader-items-list .fileuploader-item{
    width: 30% !important;
}

.bg-img-hero .u-slick.slick-initialized .js-slide {
    min-height: 475px;
}

.product-image-fileuploader .fileuploader-theme-gallery .fileuploader-items .fileuploader-item {
    max-width: 166px;
}

.product-list-image {
    height: 160px;
    width: 170px;
    object-fit: contain;
}

.product-list-image-v2 {
    width: 212px;
    height: 220px;
    object-fit: contain;
}

@media screen and (max-width: 600px) {
    .product-chars {
        flex-direction: column;
    }

    .char-select {
        margin-bottom: 20px;
    }

    .u-header__navbar-brand,
    .u-header__navbar-brand > img {
        width: 8.5rem;
    }

    .search-bar, .header-icons {
        display: none;
    }

    .bg-primary .vertical-navBar .list-group  {
        flex-direction: column;
    }

    .head_profile_settings {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .home-slider .min-height-420, .home-slider .u-slick.slick-initialized .js-slide{
        min-height: 150px;
    }
}

.home-slider .u-slick__pagination:not(.u-slick__pagination--block) {
    height: 50px;
    pointer-events: all;
}

.home-slider img {
    width: 100%;
}

@media screen and (max-width: 500px) {
    .cart-checkout .col1{
        order: 2;
    }

    .cart-checkout .col2 .pb-7, .cart-checkout .col2 .py-7 {
        padding-bottom: 0 !Important;
    }
}

body.u-unfold-opened {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

/*Новый диз по главной*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

.headerBlock{
    font-size: 36px;
    line-height: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}
.slick_product_home{
    margin-bottom: 50px;
}
.homeProductCarusel{
    position: relative;
    padding: 0 15px;
}
.homeProductCarusel a{
    color: #333333;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.homeProductCarusel .productCode{
    color:  #828282;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.homeProductCarusel .productPrice{
    color: #2F80ED;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top:15px;
    display: block;
}
.homeProductCarusel .productImage{
    position: relative;
    margin-bottom: 20px;
}
.homeProductCarusel .productFavorites{
    position: absolute;
    right: 17.5px;
    top: 17.5px;
    font-size: 21px;
}
.homeProductCarusel .productAddCart{
    position: absolute;
    right: 17.5px;
    bottom: 17.5px;
    color: #00B8A3;
    font-size: 24px;
}

.btnStore{
    background: #7FD9CF;
    border-radius: 0px;
}
.btnProvider{
    text-transform: uppercase;
    font-weight: 700;
}
.homeProviderCarusel{
    position: relative;
}
.homeProviderInfo{
    background: #F2F2F2;
    border-radius: 9px 9px 0px 0px;
    padding: 16px 0 16px 20px;
}
.homeProviderBtn{
    background: #00B8A3;
    border-radius: 0px 0px 9px 9px;
    padding: 16px 0 16px 20px;
}
.homeProviderBtn a{
    color: #fff;
}
.homeProviderName{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: block;
}
.homeCategoryProvider{
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.homeProviderImage{
    position: absolute;
    width: 65px;
    height: 65px;
    right: 25px;
    bottom: 25px;
    border-radius: 50%;
}
.homeProviderImage img{
    border-radius: 50%;
}
.productProviderCount{   
    font-size: 14px;
    line-height: 17px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 10px 0;
    display: block;
}
.textProviderAction p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
}
.textProviderAction a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #00B8A3;
}
.formProviderAction{
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 40px;
}
.formProviderAction h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.formProviderAction .form-control {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color:#828282;
    background-color:#F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 0;
}
.homeCategory{
    margin-bottom: 20px;
    border-radius: 9px;
    position: relative;
    text-align: right;
}
.homeCategory{
    margin-bottom: 20px;
    border-radius: 9px;
    position: relative;
}
.homeCategory img{
    border-radius: 9px;
}
.homeDescCategory{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #7FD9CF;
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 0 0 9px 9px;
}
.homeDescCategory a{
    padding: 15px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 18px;
    color:#333e48;
    padding: 15px 30px;
}
.bg-birch{
    background: #7FD9CF;
}
.btnHeaderCategory{
    color: #333333 !important;
}
.menuLoginHeader a{
    color: #4F4F4F;
    padding: 5px 15px;
    margin-right: 15px;
}
.menuLoginHeader a:last-child{
    padding-right: 0px;
    margin-right: 0px;
}
.menuLoginHeader a + a{
    border-left: 1px solid #000;
}
.btnLogin{
    background: #fff;
}

@media (max-width: 575.98px) {
    .headerBlock{
        text-align: center;
    }
    .js-pagination li{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin: 0;
    }
    .js-pagination li.slick-active span{
        width: 100%;
        border-radius: 0;
    }
    .js-pagination li span{
        width: 100%;
        border-radius: 0;
        height: 1rem;
    }
    .slick_product_home {
        margin-bottom: 0px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

@media (min-width: 1200px) {

}