#basicsHeadingOne span:first-child{
    color: #fff;
}

#basicsHeadingOne button{
    border-radius: 50px 50px 0 0;   
}
#searchProduct{
    border: 0.5px solid black;
}

/* a.text-sale:hover, a.text-sale:focus, .text-sale{
    color: #000000 !important;
} */